extends layout
block content

  h1 !{title}

  form(method='POST', action='')
  
    .form-group.row
      //- Title
      label.col-sm-2.col-form-label(for='title') Title
      .col-sm-10
        input.form-control(
          type='text'
          name='title'
          id='title'
          placeholder='Enter title'
          value!=blog.title
        )
        
    .form-group.row
      //- Content
      label.col-sm-2.col-form-label(for='content') Content
      .col-sm-10
        textarea.form-control(
          name='content'
          id='content'
          rows='6'
          placeholder='Enter content for the blog'
        )!= blog.content
        
    fieldset.form-group
      .row
        //- Radio buttons
        legend.col-form-label.col-sm-2.pt-0 Blog visibility
        .col-sm-10
          //- Public
          .form-check.form-check-inline
            input.form-check-input(
              type='radio'  
              name='visibility'
              id='public'
              value='true'
              checked=(blog.visible ? 'checked' : false)
            )
            label.form-check-label(for='public') Public
          //- Private
          .form-check.form-check-inline
            input.form-check-input(
              type='radio'  
              name='visibility'
              id='private'
              value='false'
              checked=(!blog.visible ? 'checked' : false)
            )
            label.form-check-label(for='private') Private
            
    
    button.btn.btn-primary(type='submit') Update
